:root {
  --honeydew: #edffecff;
  --english-violet: #48435cff;
  --light-green: #61e786ff;
  --davys-gray: #5a5766ff;
  --coral: #ff8c61;
  --tangerine: #faa275;
  --light-pink: #ffadad;
  --tropical-indigo: #9792e3ff;
}
body {
  margin-top: -10px;
  font-family: Anta;
  font-size: 18px;
  background-color: var(--tropical-indigo);
  /*background: hsla(66, 70%, 80%, 1);

  background: linear-gradient(
    90deg,
    hsla(66, 70%, 80%, 1) 50%,
    hsla(4, 48%, 94%, 1) 70%,
    hsla(226, 67%, 76%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(66, 70%, 80%, 1) 50%,
    hsla(4, 48%, 94%, 1) 70%,
    hsla(226, 67%, 76%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(66, 70%, 80%, 1) 50%,
    hsla(4, 48%, 94%, 1) 70%,
    hsla(226, 67%, 76%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E9F0AA", endColorstr="#F7E9E8", GradientType=1 );
  */
  background-attachment: fixed;
  color: var(--honeydew);
}

h1 {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-cal {
  color: var(--honeydew);
  text-shadow: 3px 2px var(--english-violet);
}

.container,
.output {
  margin: 20px auto;
}
h1 {
  color: var(--davys-gray);
  letter-spacing: 3px;
  margin-bottom: -15px;
  text-shadow: 2px 2px var(--honeydew);
}
.container {
  border: 8px solid var(--davys-gray);
  box-shadow: 3px 4px 8px var(--english-violet);
  padding: 20px 0px;
  border-radius: 12px;
}
.budget-label label {
  color: var(--english-violet);
  font-size: 24px;
  letter-spacing: 4px;
  text-shadow: 1px 2px var(--honeydew);
}
.budget-form {
  padding: 4px;
  padding-right: 8px;
  margin-top: 5px;
  outline: none;
  border: 4px dashed var(--coral);
}
.budget-form:focus {
  border: 4px solid var(--coral);
}
label {
  color: var(--davys-gray);
}
label,
legend {
  font-weight: bold;
}
legend {
  text-shadow: 1px 2px var(--davys-gray);
  letter-spacing: 1px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.entry-dropdown {
  padding: 7px;
  margin-right: 2px;
  outline: none;
}

button {
  letter-spacing: 1px;
  font-family: Anta;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--honeydew);
  border: 2px solid var(--light-green);
  padding: 7px;
  font-weight: 700;
  color: var(--english-violet);
}
button:hover {
  box-shadow: 3px 3px var(--light-green);
  transition: 150ms ease-in-out;
}
.clear-btn {
  background-color: var(--tangerine);
  border: 2px solid var(--coral);
  margin-left: 10px;
}
.clear-btn:hover {
  box-shadow: 3px 3px var(--coral);
}
.calc-clear-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
button,
input,
select {
  min-height: 24px;
  color: var(--english-violet);
}
.add-food {
  font-size: 16px;
  color: var(--davys-gray);
}
.add-btn {
  font-size: 18px;
  padding: 2px 8px 4px 8px;
}
fieldset,
label,
button,
input,
select {
  margin-bottom: 10px;
  border-radius: 12px;
}
input {
  border: none;
  text-indent: 10px;
  padding-right: 10px;
}
input:focus {
  outline: none;
}
footer {
  color: var(--english-violet);
  text-align: center;
  margin-top: -17px;
}
footer a {
  text-decoration: none;
  color: var(--light-green);

  letter-spacing: 1px;
}
footer a:hover {
  color: var(--honeydew);
}
.output {
  border: 2px solid var(--light-grey);
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}
/*p {
  color:rgb(104, 96, 133);
}*/
.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--light-pink);
  letter-spacing: 1px;
}

.deficit {
  color: var(--light-green);
  letter-spacing: 1px;
}

@media (max-width: 576px) {
  body {
    margin-top: 65px;
  }
  .add-food {
    font-size: 13px;
  }
}
